@import url(./assets/font.css);
@import url(./assets/color.css);
@import url(./assets/icon.css);
@import url(../css/devextreme/dxselectbox.css);
@import url(../css/devextreme/dxdatebox.css);


body{
    font-family: Misa Font Regular;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #111;
}
button{
    border: none;
}
.flex {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
::placeholder {
    font-family: Misa Font Italic !important;
    font-size: 13px !important;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dx-theme-generic-typography {
    font-family: Misa Font Regular !important;
    font-size: 13px !important;
}
b {
    font-weight: bold;
}