:root {
    --background-main: #eceef1;
    --button-bg-green: #2ca01c;
    --button-bg-green-hover: #35bf22;
    --button-white-border: #3b3c3f;
    --button-white-bg-hover: #d2d3d6;
    --table-thead-bg: #e5e8ec;
}